body{

    background-color: rgb(206, 206, 206);
    font-size: 20px;
    font: calc(15);

}



h1{

    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    
}


ul li{
    display: flex;
    float: left ;
    height: 45px;  
      
}

ul li a{
    background: black;
    border: 1px solid gray;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    background-color: rgb(76, 76, 219);
    font-size: 17px;
}

h2{
    text-align: center;
}

table, tr, td{

border: 2px solid black;
width: 10cm;
}

img{
    display:block;
margin-left:auto;
margin-right:auto;


}
#podaci{

    text-align: center;
}